<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="print" class="com.krishna.ph3Class1_20_3_23.Hello"></bean>
    
    
    <bean id="studobj" class="com.krishna.ph3Class1_20_3_23.Student">
    <property name="id" value="1"></property>
   <property name="name" value="Rupesh Kumar"></property>
     <property name="id2" value="2"></property>
   <property name="name2" value="Raju Kumar"></property>
   <property name="passport" ref="passid"></property>
   </bean>
	<bean id="passid" class="com.krishna.ph3Class1_20_3_23.Passport">
	<property name="passport" value="123456"></property>
	</bean>
</beans>