<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Abc complain Home page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{FrontEnd/style1.css}" rel="stylesheet">
</head>
<body>
<h1>ABC Telecom Ltd.</h1>
<hr>
<h2>Complaint Redressal System</h2>
<br>
<br>
<br>
<Button class="btn btn-primary">view complain</Button>

</body>
</html>